{
  "openapi": "3.1.0",
  "info": {
    "title": "CycleCalcs Astronomy API",
    "version": "2.0.0",
    "description": "A read-only astronomy API that returns the named answer and the numbers behind it, with the frame, epoch, time scale and refraction model stated on every response. It reports angles, times and names, and attaches no meaning to any of them. Computed in real time with the MIT-licensed Astronomy Engine. This document is generated from the shipped route table (netlify/lib/v2/registry.mjs) by tools/generate-openapi.mjs, so it cannot list a route, a parameter or a requirement the API does not actually enforce. Computed astronomical output is unrestricted: use, store, redistribute and sell it without attribution. The one exception is GeoNames place data served by GET /v2/places and by any response that resolved a `place` parameter, which requires the credit line in meta.attribution; see GET /v2/attribution for the full source register.",
    "license": {
      "name": "Computed output unrestricted; third-party data credited per response",
      "url": "https://www.cyclecalcs.com/api/terms.html"
    },
    "termsOfService": "https://www.cyclecalcs.com/api/terms.html",
    "contact": {
      "name": "CycleCalcs",
      "email": "info@cyclecalcs.com",
      "url": "https://www.cyclecalcs.com/api.html"
    }
  },
  "servers": [
    {
      "url": "https://www.cyclecalcs.com"
    }
  ],
  "externalDocs": {
    "description": "Human-readable endpoint reference",
    "url": "https://www.cyclecalcs.com/api/reference.html"
  },
  "paths": {
    "/v2": {
      "get": {
        "operationId": "getDiscovery",
        "summary": "The discovery document: every endpoint, parameter, convention and limit",
        "description": "The discovery document: every endpoint, parameter, convention and limit. Formats: json. Example: GET /v2",
        "parameters": [
          {
            "$ref": "#/components/parameters/FormatParam"
          },
          {
            "$ref": "#/components/parameters/PrecisionParam"
          },
          {
            "$ref": "#/components/parameters/PrettyParam"
          },
          {
            "$ref": "#/components/parameters/VerbosityParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The answer.",
            "headers": {
              "ETag": {
                "description": "Present when the cache class is deterministic or time-quantised. Send back as If-None-Match to get 304.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Browser caching directive for this response's cache class.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "draft-ietf-httpapi-ratelimit-headers usage for the current window.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                },
                "examples": {
                  "live": {
                    "summary": "GET /v2",
                    "description": "A real request to the running API, not a hand-written mock. It needs no key and can be opened directly, so the example is whatever the endpoint actually returns today.",
                    "externalValue": "https://www.cyclecalcs.com/v2"
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current ETag. No body."
          },
          "400": {
            "description": "The request could not be understood: a malformed or out-of-range parameter, an incomplete range, a conflicting pair of parameters, or a request too large for the compute budget.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Not found: a `place`/`id`/target that does not resolve to anything, or a path this API does not serve.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed. This API serves GET, HEAD and OPTIONS only.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "The serialised response exceeded the hard size cap. Narrow the request with `fields`, verbosity=compact or a smaller range.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait the number of seconds in Retry-After, or cache the response.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v2/conventions": {
      "get": {
        "operationId": "getConventions",
        "summary": "Every convention, threshold, model and limit the API uses, as data",
        "description": "Every convention, threshold, model and limit the API uses, as data. Formats: json. Example: GET /v2/conventions",
        "parameters": [
          {
            "$ref": "#/components/parameters/FormatParam"
          },
          {
            "$ref": "#/components/parameters/PrecisionParam"
          },
          {
            "$ref": "#/components/parameters/PrettyParam"
          },
          {
            "$ref": "#/components/parameters/VerbosityParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The answer.",
            "headers": {
              "ETag": {
                "description": "Present when the cache class is deterministic or time-quantised. Send back as If-None-Match to get 304.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Browser caching directive for this response's cache class.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "draft-ietf-httpapi-ratelimit-headers usage for the current window.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                },
                "examples": {
                  "live": {
                    "summary": "GET /v2/conventions",
                    "description": "A real request to the running API, not a hand-written mock. It needs no key and can be opened directly, so the example is whatever the endpoint actually returns today.",
                    "externalValue": "https://www.cyclecalcs.com/v2/conventions"
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current ETag. No body."
          },
          "400": {
            "description": "The request could not be understood: a malformed or out-of-range parameter, an incomplete range, a conflicting pair of parameters, or a request too large for the compute budget.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Not found: a `place`/`id`/target that does not resolve to anything, or a path this API does not serve.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed. This API serves GET, HEAD and OPTIONS only.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "The serialised response exceeded the hard size cap. Narrow the request with `fields`, verbosity=compact or a smaller range.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait the number of seconds in Retry-After, or cache the response.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v2/enums": {
      "get": {
        "operationId": "getEnums",
        "summary": "Every enumerated value the API can emit or accept, as data",
        "description": "Every enumerated value the API can emit or accept, as data. Formats: json. Some fields are currently withheld: The meteor_showers set is withheld until the meteor catalogue reduction clears its licence review. Example: GET /v2/enums?set=moon_phase_names",
        "parameters": [
          {
            "name": "set",
            "in": "query",
            "required": false,
            "description": "Which /v2/enums set to return. Mutually exclusive with `endpoint`. Omit both for every set.",
            "schema": {
              "type": "string",
              "enum": [
                "ambiguous",
                "bodies",
                "body_aliases_refused",
                "cache_classes",
                "catalogues",
                "compass_points",
                "constellations",
                "cycle_families",
                "cycle_keys",
                "cycle_kinds",
                "day_anchors",
                "eclipse_kinds",
                "error_codes",
                "event_kinds",
                "formats",
                "frame_origin",
                "frames_parameter",
                "hemisphere",
                "include_tokens",
                "interval_kinds",
                "interval_reasons",
                "libration_favoured_limbs",
                "meteor_showers",
                "moon_phase_names",
                "moon_phase_names_south",
                "non_goals",
                "nonexistent",
                "position_origins",
                "query_modes",
                "refraction",
                "rights",
                "rise_set_event_kinds",
                "rise_set_special",
                "rise_set_statuses",
                "shape",
                "style",
                "sun_position_bases",
                "time_format",
                "timezone_sources",
                "verbosity",
                "visibility_phrases",
                "warning_codes",
                "zodiac_signs"
              ]
            },
            "example": "moon_phase_names"
          },
          {
            "$ref": "#/components/parameters/EndpointParam"
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          },
          {
            "$ref": "#/components/parameters/PrecisionParam"
          },
          {
            "$ref": "#/components/parameters/PrettyParam"
          },
          {
            "$ref": "#/components/parameters/VerbosityParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The answer. Some fields are withheld; see meta.not_computed.",
            "headers": {
              "ETag": {
                "description": "Present when the cache class is deterministic or time-quantised. Send back as If-None-Match to get 304.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Browser caching directive for this response's cache class.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "draft-ietf-httpapi-ratelimit-headers usage for the current window.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                },
                "examples": {
                  "live": {
                    "summary": "GET /v2/enums?set=moon_phase_names",
                    "description": "A real request to the running API, not a hand-written mock. It needs no key and can be opened directly, so the example is whatever the endpoint actually returns today.",
                    "externalValue": "https://www.cyclecalcs.com/v2/enums?set=moon_phase_names"
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current ETag. No body."
          },
          "400": {
            "description": "The request could not be understood: a malformed or out-of-range parameter, an incomplete range, a conflicting pair of parameters, or a request too large for the compute budget.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Not found: a `place`/`id`/target that does not resolve to anything, or a path this API does not serve.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed. This API serves GET, HEAD and OPTIONS only.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "The serialised response exceeded the hard size cap. Narrow the request with `fields`, verbosity=compact or a smaller range.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait the number of seconds in Retry-After, or cache the response.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v2/attribution": {
      "get": {
        "operationId": "getAttribution",
        "summary": "Every source behind every endpoint, with its licence and what it obliges a caller to do",
        "description": "Every source behind every endpoint, with its licence and what it obliges a caller to do. Formats: json. Example: GET /v2/attribution?endpoint=/v2/moon",
        "parameters": [
          {
            "$ref": "#/components/parameters/EndpointParam"
          },
          {
            "$ref": "#/components/parameters/FieldsParam"
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          },
          {
            "$ref": "#/components/parameters/PrecisionParam"
          },
          {
            "$ref": "#/components/parameters/PrettyParam"
          },
          {
            "$ref": "#/components/parameters/VerbosityParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The answer.",
            "headers": {
              "ETag": {
                "description": "Present when the cache class is deterministic or time-quantised. Send back as If-None-Match to get 304.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Browser caching directive for this response's cache class.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "draft-ietf-httpapi-ratelimit-headers usage for the current window.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                },
                "examples": {
                  "live": {
                    "summary": "GET /v2/attribution?endpoint=/v2/moon",
                    "description": "A real request to the running API, not a hand-written mock. It needs no key and can be opened directly, so the example is whatever the endpoint actually returns today.",
                    "externalValue": "https://www.cyclecalcs.com/v2/attribution?endpoint=/v2/moon"
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current ETag. No body."
          },
          "400": {
            "description": "The request could not be understood: a malformed or out-of-range parameter, an incomplete range, a conflicting pair of parameters, or a request too large for the compute budget.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Not found: a `place`/`id`/target that does not resolve to anything, or a path this API does not serve.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed. This API serves GET, HEAD and OPTIONS only.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "The serialised response exceeded the hard size cap. Narrow the request with `fields`, verbosity=compact or a smaller range.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait the number of seconds in Retry-After, or cache the response.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v2/positions": {
      "get": {
        "operationId": "getPositions",
        "summary": "Where every body is, in every frame, with refraction stated",
        "description": "Where every body is, in every frame, with refraction stated. Formats: json, csv. Example: GET /v2/positions?bodies=sun,moon&at=2026-07-28T21:30:00Z&lat=51.4778&lon=-0.0015&elevation_m=11&tz=Europe/London",
        "parameters": [
          {
            "name": "at",
            "in": "query",
            "required": false,
            "description": "The instant to evaluate. ISO 8601: a date (2026-06-21), or a date and time with an optional seconds, fraction and either Z or a numeric UTC offset. No offset and no `tz` reads as UTC. Reliable from 1700 to 2200.",
            "schema": {
              "type": "string"
            },
            "example": "2026-07-28T21:30:00Z"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "The start of a range query, inclusive. ISO 8601: a date (2026-06-21), or a date and time with an optional seconds, fraction and either Z or a numeric UTC offset. No offset and no `tz` reads as UTC. Reliable from 1700 to 2200.",
            "schema": {
              "type": "string"
            },
            "example": "2026-01-01"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "The end of a range query. A row landing exactly on `end` IS returned: the window is [start, end]. Every endpoint's rule is published as data under limits.range_boundaries in /v2/conventions. ISO 8601: a date (2026-06-21), or a date and time with an optional seconds, fraction and either Z or a numeric UTC offset. No offset and no `tz` reads as UTC. Reliable from 1700 to 2200.",
            "schema": {
              "type": "string"
            },
            "example": "2027-01-01"
          },
          {
            "name": "step",
            "in": "query",
            "required": false,
            "description": "Sampling stride for a range query: a number plus a unit, one of min, m (minute), h (hour), d (day), w (week), mo (month) or y (year), for example 1h, 6h or 1d. Resolves to at least 1 minute and at most 1 year. Needs `start`. This is the generic grammar; an endpoint that narrows it documents the narrowing on its own `step` parameter, and /v2/conventions publishes every narrowing under limits.step_grammar.endpoint_policies.",
            "schema": {
              "type": "string"
            },
            "example": "1d"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of rows to return from a range query, counted forward from `start`. Mutually exclusive with `end`.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            },
            "example": 30
          },
          {
            "name": "bodies",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of targets, up to 20: any of sun, moon, mercury, venus, earth, mars, jupiter, saturn, uranus, neptune, pluto, or radec:<ra>,<dec>[,j2000] entries. Mutually exclusive with `body`.",
            "schema": {
              "type": "string"
            },
            "example": "sun,moon"
          },
          {
            "name": "body",
            "in": "query",
            "required": false,
            "description": "A single target: one of sun, moon, mercury, venus, earth, mars, jupiter, saturn, uranus, neptune, pluto, or radec:<ra>,<dec>[,j2000] for a fixed celestial point (right ascension in decimal hours, declination in decimal degrees). Mutually exclusive with `bodies`.",
            "schema": {
              "type": "string"
            },
            "example": "moon"
          },
          {
            "$ref": "#/components/parameters/LatitudeParam"
          },
          {
            "$ref": "#/components/parameters/LongitudeParam"
          },
          {
            "$ref": "#/components/parameters/ElevationMParam"
          },
          {
            "$ref": "#/components/parameters/PlaceParam"
          },
          {
            "$ref": "#/components/parameters/PlaceStrategyParam"
          },
          {
            "$ref": "#/components/parameters/TzParam"
          },
          {
            "$ref": "#/components/parameters/AmbiguousParam"
          },
          {
            "$ref": "#/components/parameters/NonexistentParam"
          },
          {
            "name": "frames",
            "in": "query",
            "required": false,
            "description": "Which coordinate frame families to include: minimal is of-date equatorial and horizontal only; standard adds equatorial J2000, true ecliptic-of-date, horizontal and distance; all adds ecliptic J2000 and galactic.",
            "schema": {
              "type": "string",
              "enum": [
                "minimal",
                "standard",
                "all"
              ],
              "default": "standard"
            },
            "example": "standard"
          },
          {
            "name": "frame",
            "in": "query",
            "required": false,
            "description": "Measured from the centre of the Earth, or the centre of the Sun. Earth itself has no geocentric position and needs frame=heliocentric.",
            "schema": {
              "type": "string",
              "enum": [
                "geocentric",
                "heliocentric"
              ],
              "default": "geocentric"
            },
            "example": "geocentric"
          },
          {
            "name": "refraction",
            "in": "query",
            "required": false,
            "description": "normal applies Saemundsson refraction to apparent altitude; none reports the unrefracted geometric altitude.",
            "schema": {
              "type": "string",
              "enum": [
                "normal",
                "none"
              ],
              "default": "normal"
            },
            "example": "normal"
          },
          {
            "$ref": "#/components/parameters/TimeFormatParam"
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          },
          {
            "$ref": "#/components/parameters/FieldsParam"
          },
          {
            "$ref": "#/components/parameters/ShapeParam"
          },
          {
            "$ref": "#/components/parameters/PrecisionParam"
          },
          {
            "$ref": "#/components/parameters/PrettyParam"
          },
          {
            "$ref": "#/components/parameters/VerbosityParam"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "See the endpoint description at /api/reference.html.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The answer.",
            "headers": {
              "ETag": {
                "description": "Present when the cache class is deterministic or time-quantised. Send back as If-None-Match to get 304.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Browser caching directive for this response's cache class.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "draft-ietf-httpapi-ratelimit-headers usage for the current window.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                },
                "examples": {
                  "live": {
                    "summary": "GET /v2/positions?bodies=sun,moon&at=2026-07-28T21:30:00Z&lat=51.4778&lon=-0.0015&elevation_m=11&tz=Europe/London",
                    "description": "A real request to the running API, not a hand-written mock. It needs no key and can be opened directly, so the example is whatever the endpoint actually returns today.",
                    "externalValue": "https://www.cyclecalcs.com/v2/positions?bodies=sun,moon&at=2026-07-28T21:30:00Z&lat=51.4778&lon=-0.0015&elevation_m=11&tz=Europe/London"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "A CSV rendering of the same answer. See meta and the CSV header comment for provenance."
                },
                "examples": {
                  "live": {
                    "summary": "GET /v2/positions?bodies=sun,moon&at=2026-07-28T21:30:00Z&lat=51.4778&lon=-0.0015&elevation_m=11&tz=Europe/London&format=csv",
                    "description": "A real request to the running API, not a hand-written mock. It needs no key and can be opened directly, so the example is whatever the endpoint actually returns today.",
                    "externalValue": "https://www.cyclecalcs.com/v2/positions?bodies=sun,moon&at=2026-07-28T21:30:00Z&lat=51.4778&lon=-0.0015&elevation_m=11&tz=Europe/London&format=csv"
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current ETag. No body."
          },
          "400": {
            "description": "The request could not be understood: a malformed or out-of-range parameter, an incomplete range, a conflicting pair of parameters, or a request too large for the compute budget.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Not found: a `place`/`id`/target that does not resolve to anything, or a path this API does not serve.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed. This API serves GET, HEAD and OPTIONS only.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "The serialised response exceeded the hard size cap. Narrow the request with `fields`, verbosity=compact or a smaller range.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait the number of seconds in Retry-After, or cache the response.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v2/rise-set": {
      "get": {
        "operationId": "getRiseSet",
        "summary": "Rise, transit, set and lower transit for any named object, with an explicit status at every latitude",
        "description": "Rise, transit, set and lower transit for any named object, with an explicit status at every latitude. Formats: json, csv. Example: GET /v2/rise-set?body=moon&at=2026-12-21&lat=69.6492&lon=18.9553&tz=Europe/Oslo",
        "parameters": [
          {
            "name": "body",
            "in": "query",
            "required": true,
            "description": "A single target: one of sun, moon, mercury, venus, earth, mars, jupiter, saturn, uranus, neptune, pluto, or radec:<ra>,<dec>[,j2000] for a fixed celestial point (right ascension in decimal hours, declination in decimal degrees). Mutually exclusive with `bodies`.",
            "schema": {
              "type": "string"
            },
            "example": "moon"
          },
          {
            "name": "bodies",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of targets, up to 20: any of sun, moon, mercury, venus, earth, mars, jupiter, saturn, uranus, neptune, pluto, or radec:<ra>,<dec>[,j2000] entries. Mutually exclusive with `body`.",
            "schema": {
              "type": "string"
            },
            "example": "sun,moon"
          },
          {
            "name": "at",
            "in": "query",
            "required": false,
            "description": "The instant to evaluate. ISO 8601: a date (2026-06-21), or a date and time with an optional seconds, fraction and either Z or a numeric UTC offset. No offset and no `tz` reads as UTC. Reliable from 1700 to 2200.",
            "schema": {
              "type": "string"
            },
            "example": "2026-12-21"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "The start of a range query, inclusive. ISO 8601: a date (2026-06-21), or a date and time with an optional seconds, fraction and either Z or a numeric UTC offset. No offset and no `tz` reads as UTC. Reliable from 1700 to 2200.",
            "schema": {
              "type": "string"
            },
            "example": "2026-01-01"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "The end of a range query. On this endpoint `end` does not bound a row, it bounds a day. Every local day that BEGINS before `end` is returned, so the last row can begin before `end` and finish after it. Every endpoint's rule is published as data under limits.range_boundaries in /v2/conventions. ISO 8601: a date (2026-06-21), or a date and time with an optional seconds, fraction and either Z or a numeric UTC offset. No offset and no `tz` reads as UTC. Reliable from 1700 to 2200.",
            "schema": {
              "type": "string"
            },
            "example": "2027-01-01"
          },
          {
            "$ref": "#/components/parameters/LatitudeRequiredParam"
          },
          {
            "$ref": "#/components/parameters/LongitudeRequiredParam"
          },
          {
            "$ref": "#/components/parameters/ElevationMParam"
          },
          {
            "$ref": "#/components/parameters/PlaceParam"
          },
          {
            "$ref": "#/components/parameters/PlaceStrategyParam"
          },
          {
            "$ref": "#/components/parameters/TzParam"
          },
          {
            "$ref": "#/components/parameters/AmbiguousParam"
          },
          {
            "$ref": "#/components/parameters/NonexistentParam"
          },
          {
            "$ref": "#/components/parameters/DayAnchorParam"
          },
          {
            "name": "horizon",
            "in": "query",
            "required": false,
            "description": "Overrides the rise/set event altitude, in degrees, replacing the standard -0.8333 deg (or the body's own definition). Disclosed with a warning.",
            "schema": {
              "type": "number",
              "minimum": -20,
              "maximum": 20
            },
            "example": -0.5
          },
          {
            "name": "search_horizon_days",
            "in": "query",
            "required": false,
            "description": "How far past the requested window to keep searching for the next real event, in days, when none falls inside the window (for example, through a polar night).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 400
            },
            "example": 200
          },
          {
            "$ref": "#/components/parameters/TimeFormatParam"
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          },
          {
            "$ref": "#/components/parameters/FieldsParam"
          },
          {
            "$ref": "#/components/parameters/ShapeParam"
          },
          {
            "$ref": "#/components/parameters/PrecisionParam"
          },
          {
            "$ref": "#/components/parameters/PrettyParam"
          },
          {
            "$ref": "#/components/parameters/VerbosityParam"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "See the endpoint description at /api/reference.html.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The answer.",
            "headers": {
              "ETag": {
                "description": "Present when the cache class is deterministic or time-quantised. Send back as If-None-Match to get 304.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Browser caching directive for this response's cache class.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "draft-ietf-httpapi-ratelimit-headers usage for the current window.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                },
                "examples": {
                  "live": {
                    "summary": "GET /v2/rise-set?body=moon&at=2026-12-21&lat=69.6492&lon=18.9553&tz=Europe/Oslo",
                    "description": "A real request to the running API, not a hand-written mock. It needs no key and can be opened directly, so the example is whatever the endpoint actually returns today.",
                    "externalValue": "https://www.cyclecalcs.com/v2/rise-set?body=moon&at=2026-12-21&lat=69.6492&lon=18.9553&tz=Europe/Oslo"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "A CSV rendering of the same answer. See meta and the CSV header comment for provenance."
                },
                "examples": {
                  "live": {
                    "summary": "GET /v2/rise-set?body=moon&at=2026-12-21&lat=69.6492&lon=18.9553&tz=Europe/Oslo&format=csv",
                    "description": "A real request to the running API, not a hand-written mock. It needs no key and can be opened directly, so the example is whatever the endpoint actually returns today.",
                    "externalValue": "https://www.cyclecalcs.com/v2/rise-set?body=moon&at=2026-12-21&lat=69.6492&lon=18.9553&tz=Europe/Oslo&format=csv"
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current ETag. No body."
          },
          "400": {
            "description": "The request could not be understood: a malformed or out-of-range parameter, an incomplete range, a conflicting pair of parameters, or a request too large for the compute budget.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Not found: a `place`/`id`/target that does not resolve to anything, or a path this API does not serve.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed. This API serves GET, HEAD and OPTIONS only.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "The serialised response exceeded the hard size cap. Narrow the request with `fields`, verbosity=compact or a smaller range.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait the number of seconds in Retry-After, or cache the response.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v2/sun": {
      "get": {
        "operationId": "getSun",
        "summary": "The complete solar day: every named boundary, azimuth, day length and polar status",
        "description": "The complete solar day: every named boundary, azimuth, day length and polar status. Formats: json, csv, txt. Example: GET /v2/sun?lat=51.4778&lon=-0.0015&at=2026-07-27&tz=Europe/London&depressions=17,18",
        "parameters": [
          {
            "$ref": "#/components/parameters/LatitudeRequiredParam"
          },
          {
            "$ref": "#/components/parameters/LongitudeRequiredParam"
          },
          {
            "$ref": "#/components/parameters/ElevationMParam"
          },
          {
            "$ref": "#/components/parameters/PlaceParam"
          },
          {
            "$ref": "#/components/parameters/PlaceStrategyParam"
          },
          {
            "name": "at",
            "in": "query",
            "required": false,
            "description": "The instant to evaluate. ISO 8601: a date (2026-06-21), or a date and time with an optional seconds, fraction and either Z or a numeric UTC offset. No offset and no `tz` reads as UTC. Reliable from 1700 to 2200.",
            "schema": {
              "type": "string"
            },
            "example": "2026-07-27"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "The start of a range query, inclusive. ISO 8601: a date (2026-06-21), or a date and time with an optional seconds, fraction and either Z or a numeric UTC offset. No offset and no `tz` reads as UTC. Reliable from 1700 to 2200.",
            "schema": {
              "type": "string"
            },
            "example": "2026-01-01"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "The end of a range query. On this endpoint `end` does not bound a row, it bounds a day. Every local day that BEGINS before `end` is returned, so the last row can begin before `end` and finish after it. Every endpoint's rule is published as data under limits.range_boundaries in /v2/conventions. ISO 8601: a date (2026-06-21), or a date and time with an optional seconds, fraction and either Z or a numeric UTC offset. No offset and no `tz` reads as UTC. Reliable from 1700 to 2200.",
            "schema": {
              "type": "string"
            },
            "example": "2027-01-01"
          },
          {
            "name": "step",
            "in": "query",
            "required": false,
            "description": "Sampling stride, narrower on this endpoint than the generic step range. Use a duration this endpoint accepts, such as 1d, 2d, 7d, 30d or 1y. This endpoint returns one row per local day, so the stride has to be a whole number of days; for a monthly cadence send 30d. Needs `start`.",
            "schema": {
              "type": "string"
            },
            "example": "1d"
          },
          {
            "$ref": "#/components/parameters/DayAnchorParam"
          },
          {
            "name": "depressions",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of up to 8 custom solar depression angles in degrees, 0 to 30, in addition to the civil/nautical/astronomical bands.",
            "schema": {
              "type": "string"
            },
            "example": "17,18"
          },
          {
            "$ref": "#/components/parameters/TzParam"
          },
          {
            "$ref": "#/components/parameters/AmbiguousParam"
          },
          {
            "$ref": "#/components/parameters/NonexistentParam"
          },
          {
            "$ref": "#/components/parameters/TimeFormatParam"
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          },
          {
            "$ref": "#/components/parameters/FieldsParam"
          },
          {
            "$ref": "#/components/parameters/ShapeParam"
          },
          {
            "$ref": "#/components/parameters/PrecisionParam"
          },
          {
            "$ref": "#/components/parameters/PrettyParam"
          },
          {
            "$ref": "#/components/parameters/VerbosityParam"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "See the endpoint description at /api/reference.html.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The answer.",
            "headers": {
              "ETag": {
                "description": "Present when the cache class is deterministic or time-quantised. Send back as If-None-Match to get 304.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Browser caching directive for this response's cache class.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "draft-ietf-httpapi-ratelimit-headers usage for the current window.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                },
                "examples": {
                  "live": {
                    "summary": "GET /v2/sun?lat=51.4778&lon=-0.0015&at=2026-07-27&tz=Europe/London&depressions=17,18",
                    "description": "A real request to the running API, not a hand-written mock. It needs no key and can be opened directly, so the example is whatever the endpoint actually returns today.",
                    "externalValue": "https://www.cyclecalcs.com/v2/sun?lat=51.4778&lon=-0.0015&at=2026-07-27&tz=Europe/London&depressions=17,18"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "A CSV rendering of the same answer. See meta and the CSV header comment for provenance."
                },
                "examples": {
                  "live": {
                    "summary": "GET /v2/sun?lat=51.4778&lon=-0.0015&at=2026-07-27&tz=Europe/London&depressions=17,18&format=csv",
                    "description": "A real request to the running API, not a hand-written mock. It needs no key and can be opened directly, so the example is whatever the endpoint actually returns today.",
                    "externalValue": "https://www.cyclecalcs.com/v2/sun?lat=51.4778&lon=-0.0015&at=2026-07-27&tz=Europe/London&depressions=17,18&format=csv"
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "A TXT rendering of the same answer. See meta and the CSV header comment for provenance."
                },
                "examples": {
                  "live": {
                    "summary": "GET /v2/sun?lat=51.4778&lon=-0.0015&at=2026-07-27&tz=Europe/London&depressions=17,18&format=txt",
                    "description": "A real request to the running API, not a hand-written mock. It needs no key and can be opened directly, so the example is whatever the endpoint actually returns today.",
                    "externalValue": "https://www.cyclecalcs.com/v2/sun?lat=51.4778&lon=-0.0015&at=2026-07-27&tz=Europe/London&depressions=17,18&format=txt"
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current ETag. No body."
          },
          "400": {
            "description": "The request could not be understood: a malformed or out-of-range parameter, an incomplete range, a conflicting pair of parameters, or a request too large for the compute budget.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Not found: a `place`/`id`/target that does not resolve to anything, or a path this API does not serve.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed. This API serves GET, HEAD and OPTIONS only.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "The serialised response exceeded the hard size cap. Narrow the request with `fields`, verbosity=compact or a smaller range.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait the number of seconds in Retry-After, or cache the response.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v2/moon": {
      "get": {
        "operationId": "getMoon",
        "summary": "The Moon in render-ready form: phase, illumination, bright limb, libration",
        "description": "The Moon in render-ready form: phase, illumination, bright limb, libration. Formats: json, csv, txt. Example: GET /v2/moon?at=2026-07-27T21:00:00Z&lat=51.4778&lon=-0.0015&tz=Europe/London",
        "parameters": [
          {
            "name": "at",
            "in": "query",
            "required": false,
            "description": "The instant to evaluate. ISO 8601: a date (2026-06-21), or a date and time with an optional seconds, fraction and either Z or a numeric UTC offset. No offset and no `tz` reads as UTC. Reliable from 1700 to 2200.",
            "schema": {
              "type": "string"
            },
            "example": "2026-07-27T21:00:00Z"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "The start of a range query, inclusive. ISO 8601: a date (2026-06-21), or a date and time with an optional seconds, fraction and either Z or a numeric UTC offset. No offset and no `tz` reads as UTC. Reliable from 1700 to 2200.",
            "schema": {
              "type": "string"
            },
            "example": "2026-01-01"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "The end of a range query. A row landing exactly on `end` IS returned: the window is [start, end]. Every endpoint's rule is published as data under limits.range_boundaries in /v2/conventions. ISO 8601: a date (2026-06-21), or a date and time with an optional seconds, fraction and either Z or a numeric UTC offset. No offset and no `tz` reads as UTC. Reliable from 1700 to 2200.",
            "schema": {
              "type": "string"
            },
            "example": "2027-01-01"
          },
          {
            "name": "step",
            "in": "query",
            "required": false,
            "description": "Sampling stride for a range query: a number plus a unit, one of min, m (minute), h (hour), d (day), w (week), mo (month) or y (year), for example 1h, 6h or 1d. Resolves to at least 1 minute and at most 1 year. Needs `start`. This is the generic grammar; an endpoint that narrows it documents the narrowing on its own `step` parameter, and /v2/conventions publishes every narrowing under limits.step_grammar.endpoint_policies.",
            "schema": {
              "type": "string"
            },
            "example": "1d"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of rows to return from a range query, counted forward from `start`. Mutually exclusive with `end`.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            },
            "example": 30
          },
          {
            "$ref": "#/components/parameters/LatitudeParam"
          },
          {
            "$ref": "#/components/parameters/LongitudeParam"
          },
          {
            "$ref": "#/components/parameters/ElevationMParam"
          },
          {
            "$ref": "#/components/parameters/PlaceParam"
          },
          {
            "$ref": "#/components/parameters/PlaceStrategyParam"
          },
          {
            "name": "hemisphere",
            "in": "query",
            "required": false,
            "description": "Which hemisphere's convention to use (phase emoji, or season pairing). Defaults to south when lat is negative, north otherwise.",
            "schema": {
              "type": "string",
              "enum": [
                "north",
                "south"
              ]
            },
            "example": "north"
          },
          {
            "name": "next_phases",
            "in": "query",
            "required": false,
            "description": "How many upcoming quarter phases to list. Default 4.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 24
            },
            "example": 4
          },
          {
            "name": "style",
            "in": "query",
            "required": false,
            "description": "How the phase is rendered on format=txt: the bare name, the phase emoji, or a one-line sentence.",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "emoji",
                "sentence"
              ],
              "default": "name"
            },
            "example": "name"
          },
          {
            "$ref": "#/components/parameters/TzParam"
          },
          {
            "$ref": "#/components/parameters/AmbiguousParam"
          },
          {
            "$ref": "#/components/parameters/NonexistentParam"
          },
          {
            "$ref": "#/components/parameters/DayAnchorParam"
          },
          {
            "$ref": "#/components/parameters/TimeFormatParam"
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          },
          {
            "$ref": "#/components/parameters/FieldsParam"
          },
          {
            "$ref": "#/components/parameters/ShapeParam"
          },
          {
            "$ref": "#/components/parameters/PrecisionParam"
          },
          {
            "$ref": "#/components/parameters/PrettyParam"
          },
          {
            "$ref": "#/components/parameters/VerbosityParam"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "See the endpoint description at /api/reference.html.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The answer.",
            "headers": {
              "ETag": {
                "description": "Present when the cache class is deterministic or time-quantised. Send back as If-None-Match to get 304.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Browser caching directive for this response's cache class.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "draft-ietf-httpapi-ratelimit-headers usage for the current window.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                },
                "examples": {
                  "live": {
                    "summary": "GET /v2/moon?at=2026-07-27T21:00:00Z&lat=51.4778&lon=-0.0015&tz=Europe/London",
                    "description": "A real request to the running API, not a hand-written mock. It needs no key and can be opened directly, so the example is whatever the endpoint actually returns today.",
                    "externalValue": "https://www.cyclecalcs.com/v2/moon?at=2026-07-27T21:00:00Z&lat=51.4778&lon=-0.0015&tz=Europe/London"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "A CSV rendering of the same answer. See meta and the CSV header comment for provenance."
                },
                "examples": {
                  "live": {
                    "summary": "GET /v2/moon?at=2026-07-27T21:00:00Z&lat=51.4778&lon=-0.0015&tz=Europe/London&format=csv",
                    "description": "A real request to the running API, not a hand-written mock. It needs no key and can be opened directly, so the example is whatever the endpoint actually returns today.",
                    "externalValue": "https://www.cyclecalcs.com/v2/moon?at=2026-07-27T21:00:00Z&lat=51.4778&lon=-0.0015&tz=Europe/London&format=csv"
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "A TXT rendering of the same answer. See meta and the CSV header comment for provenance."
                },
                "examples": {
                  "live": {
                    "summary": "GET /v2/moon?at=2026-07-27T21:00:00Z&lat=51.4778&lon=-0.0015&tz=Europe/London&format=txt",
                    "description": "A real request to the running API, not a hand-written mock. It needs no key and can be opened directly, so the example is whatever the endpoint actually returns today.",
                    "externalValue": "https://www.cyclecalcs.com/v2/moon?at=2026-07-27T21:00:00Z&lat=51.4778&lon=-0.0015&tz=Europe/London&format=txt"
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current ETag. No body."
          },
          "400": {
            "description": "The request could not be understood: a malformed or out-of-range parameter, an incomplete range, a conflicting pair of parameters, or a request too large for the compute budget.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Not found: a `place`/`id`/target that does not resolve to anything, or a path this API does not serve.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed. This API serves GET, HEAD and OPTIONS only.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "The serialised response exceeded the hard size cap. Narrow the request with `fields`, verbosity=compact or a smaller range.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait the number of seconds in Retry-After, or cache the response.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v2/time": {
      "get": {
        "operationId": "getTime",
        "summary": "Every time scale, sidereal time, solar time, the equation of time and the Julian dates",
        "description": "Every time scale, sidereal time, solar time, the equation of time and the Julian dates. Formats: json, csv. Example: GET /v2/time?at=2026-07-27T12:00:00Z&lat=51.4778&lon=-0.0015",
        "parameters": [
          {
            "name": "at",
            "in": "query",
            "required": false,
            "description": "The instant to evaluate. ISO 8601: a date (2026-06-21), or a date and time with an optional seconds, fraction and either Z or a numeric UTC offset. No offset and no `tz` reads as UTC. Reliable from 1700 to 2200.",
            "schema": {
              "type": "string"
            },
            "example": "2026-07-27T12:00:00Z"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "The start of a range query, inclusive. ISO 8601: a date (2026-06-21), or a date and time with an optional seconds, fraction and either Z or a numeric UTC offset. No offset and no `tz` reads as UTC. Reliable from 1700 to 2200.",
            "schema": {
              "type": "string"
            },
            "example": "2026-01-01"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "The end of a range query. A row landing exactly on `end` IS returned: the window is [start, end]. Every endpoint's rule is published as data under limits.range_boundaries in /v2/conventions. ISO 8601: a date (2026-06-21), or a date and time with an optional seconds, fraction and either Z or a numeric UTC offset. No offset and no `tz` reads as UTC. Reliable from 1700 to 2200.",
            "schema": {
              "type": "string"
            },
            "example": "2027-01-01"
          },
          {
            "name": "step",
            "in": "query",
            "required": false,
            "description": "Sampling stride for a range query: a number plus a unit, one of min, m (minute), h (hour), d (day), w (week), mo (month) or y (year), for example 1h, 6h or 1d. Resolves to at least 1 minute and at most 1 year. Needs `start`. This is the generic grammar; an endpoint that narrows it documents the narrowing on its own `step` parameter, and /v2/conventions publishes every narrowing under limits.step_grammar.endpoint_policies.",
            "schema": {
              "type": "string"
            },
            "example": "1d"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of rows to return from a range query, counted forward from `start`. Mutually exclusive with `end`.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            },
            "example": 30
          },
          {
            "$ref": "#/components/parameters/LatitudeParam"
          },
          {
            "$ref": "#/components/parameters/LongitudeParam"
          },
          {
            "$ref": "#/components/parameters/ElevationMParam"
          },
          {
            "$ref": "#/components/parameters/PlaceParam"
          },
          {
            "$ref": "#/components/parameters/PlaceStrategyParam"
          },
          {
            "$ref": "#/components/parameters/TzParam"
          },
          {
            "$ref": "#/components/parameters/AmbiguousParam"
          },
          {
            "$ref": "#/components/parameters/NonexistentParam"
          },
          {
            "$ref": "#/components/parameters/TimeFormatParam"
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          },
          {
            "$ref": "#/components/parameters/FieldsParam"
          },
          {
            "$ref": "#/components/parameters/ShapeParam"
          },
          {
            "$ref": "#/components/parameters/PrecisionParam"
          },
          {
            "$ref": "#/components/parameters/PrettyParam"
          },
          {
            "$ref": "#/components/parameters/VerbosityParam"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "See the endpoint description at /api/reference.html.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The answer.",
            "headers": {
              "ETag": {
                "description": "Present when the cache class is deterministic or time-quantised. Send back as If-None-Match to get 304.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Browser caching directive for this response's cache class.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "draft-ietf-httpapi-ratelimit-headers usage for the current window.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                },
                "examples": {
                  "live": {
                    "summary": "GET /v2/time?at=2026-07-27T12:00:00Z&lat=51.4778&lon=-0.0015",
                    "description": "A real request to the running API, not a hand-written mock. It needs no key and can be opened directly, so the example is whatever the endpoint actually returns today.",
                    "externalValue": "https://www.cyclecalcs.com/v2/time?at=2026-07-27T12:00:00Z&lat=51.4778&lon=-0.0015"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "A CSV rendering of the same answer. See meta and the CSV header comment for provenance."
                },
                "examples": {
                  "live": {
                    "summary": "GET /v2/time?at=2026-07-27T12:00:00Z&lat=51.4778&lon=-0.0015&format=csv",
                    "description": "A real request to the running API, not a hand-written mock. It needs no key and can be opened directly, so the example is whatever the endpoint actually returns today.",
                    "externalValue": "https://www.cyclecalcs.com/v2/time?at=2026-07-27T12:00:00Z&lat=51.4778&lon=-0.0015&format=csv"
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current ETag. No body."
          },
          "400": {
            "description": "The request could not be understood: a malformed or out-of-range parameter, an incomplete range, a conflicting pair of parameters, or a request too large for the compute budget.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Not found: a `place`/`id`/target that does not resolve to anything, or a path this API does not serve.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed. This API serves GET, HEAD and OPTIONS only.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "The serialised response exceeded the hard size cap. Narrow the request with `fields`, verbosity=compact or a smaller range.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait the number of seconds in Retry-After, or cache the response.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v2/seasons": {
      "get": {
        "operationId": "getSeasons",
        "summary": "Every equinox and solstice in a window, with the length of each season they bound",
        "description": "Every equinox and solstice in a window, with the length of each season they bound. Formats: json, csv. Example: GET /v2/seasons?start=2026-01-01&end=2027-01-01&tz=Europe/London",
        "parameters": [
          {
            "name": "at",
            "in": "query",
            "required": false,
            "description": "The instant to evaluate. ISO 8601: a date (2026-06-21), or a date and time with an optional seconds, fraction and either Z or a numeric UTC offset. No offset and no `tz` reads as UTC. Reliable from 1700 to 2200.",
            "schema": {
              "type": "string"
            },
            "example": "2026-06-21T21:00:00Z"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "The start of a range query, inclusive. ISO 8601: a date (2026-06-21), or a date and time with an optional seconds, fraction and either Z or a numeric UTC offset. No offset and no `tz` reads as UTC. Reliable from 1700 to 2200.",
            "schema": {
              "type": "string"
            },
            "example": "2026-01-01"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "The end of a range query. A row landing exactly on `end` is NOT returned: the window is [start, end). Every endpoint's rule is published as data under limits.range_boundaries in /v2/conventions. ISO 8601: a date (2026-06-21), or a date and time with an optional seconds, fraction and either Z or a numeric UTC offset. No offset and no `tz` reads as UTC. Reliable from 1700 to 2200.",
            "schema": {
              "type": "string"
            },
            "example": "2027-01-01"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of rows to return from a range query, counted forward from `start`. Mutually exclusive with `end`.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            },
            "example": 30
          },
          {
            "$ref": "#/components/parameters/LatitudeParam"
          },
          {
            "$ref": "#/components/parameters/LongitudeParam"
          },
          {
            "$ref": "#/components/parameters/ElevationMParam"
          },
          {
            "$ref": "#/components/parameters/PlaceParam"
          },
          {
            "$ref": "#/components/parameters/PlaceStrategyParam"
          },
          {
            "$ref": "#/components/parameters/TzParam"
          },
          {
            "$ref": "#/components/parameters/AmbiguousParam"
          },
          {
            "$ref": "#/components/parameters/NonexistentParam"
          },
          {
            "name": "hemisphere",
            "in": "query",
            "required": false,
            "description": "Which hemisphere's convention to use (phase emoji, or season pairing). Defaults to south when lat is negative, north otherwise.",
            "schema": {
              "type": "string",
              "enum": [
                "north",
                "south"
              ]
            },
            "example": "north"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Comma-separated optional blocks to include. Omit for the endpoint default set.",
            "schema": {
              "type": "string",
              "enum": [
                "events",
                "seasons",
                "cross_quarters",
                "year_length"
              ]
            },
            "example": "events"
          },
          {
            "$ref": "#/components/parameters/TimeFormatParam"
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          },
          {
            "$ref": "#/components/parameters/FieldsParam"
          },
          {
            "$ref": "#/components/parameters/ShapeParam"
          },
          {
            "$ref": "#/components/parameters/PrecisionParam"
          },
          {
            "$ref": "#/components/parameters/PrettyParam"
          },
          {
            "$ref": "#/components/parameters/VerbosityParam"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "See the endpoint description at /api/reference.html.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The answer.",
            "headers": {
              "ETag": {
                "description": "Present when the cache class is deterministic or time-quantised. Send back as If-None-Match to get 304.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Browser caching directive for this response's cache class.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "draft-ietf-httpapi-ratelimit-headers usage for the current window.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                },
                "examples": {
                  "live": {
                    "summary": "GET /v2/seasons?start=2026-01-01&end=2027-01-01&tz=Europe/London",
                    "description": "A real request to the running API, not a hand-written mock. It needs no key and can be opened directly, so the example is whatever the endpoint actually returns today.",
                    "externalValue": "https://www.cyclecalcs.com/v2/seasons?start=2026-01-01&end=2027-01-01&tz=Europe/London"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "A CSV rendering of the same answer. See meta and the CSV header comment for provenance."
                },
                "examples": {
                  "live": {
                    "summary": "GET /v2/seasons?start=2026-01-01&end=2027-01-01&tz=Europe/London&format=csv",
                    "description": "A real request to the running API, not a hand-written mock. It needs no key and can be opened directly, so the example is whatever the endpoint actually returns today.",
                    "externalValue": "https://www.cyclecalcs.com/v2/seasons?start=2026-01-01&end=2027-01-01&tz=Europe/London&format=csv"
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current ETag. No body."
          },
          "400": {
            "description": "The request could not be understood: a malformed or out-of-range parameter, an incomplete range, a conflicting pair of parameters, or a request too large for the compute budget.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Not found: a `place`/`id`/target that does not resolve to anything, or a path this API does not serve.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed. This API serves GET, HEAD and OPTIONS only.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "The serialised response exceeded the hard size cap. Narrow the request with `fields`, verbosity=compact or a smaller range.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait the number of seconds in Retry-After, or cache the response.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v2/apsides": {
      "get": {
        "operationId": "getApsides",
        "summary": "Every perigee, apogee, perihelion and aphelion in a window, with its distance",
        "description": "Every perigee, apogee, perihelion and aphelion in a window, with its distance. Formats: json, csv. Example: GET /v2/apsides?start=2026-01-01&end=2026-04-01&bodies=moon,earth",
        "parameters": [
          {
            "name": "at",
            "in": "query",
            "required": false,
            "description": "The instant to evaluate. ISO 8601: a date (2026-06-21), or a date and time with an optional seconds, fraction and either Z or a numeric UTC offset. No offset and no `tz` reads as UTC. Reliable from 1700 to 2200.",
            "schema": {
              "type": "string"
            },
            "example": "2026-06-21T21:00:00Z"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "The start of a range query, inclusive. ISO 8601: a date (2026-06-21), or a date and time with an optional seconds, fraction and either Z or a numeric UTC offset. No offset and no `tz` reads as UTC. Reliable from 1700 to 2200.",
            "schema": {
              "type": "string"
            },
            "example": "2026-01-01"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "The end of a range query. A row landing exactly on `end` is NOT returned: the window is [start, end). Every endpoint's rule is published as data under limits.range_boundaries in /v2/conventions. ISO 8601: a date (2026-06-21), or a date and time with an optional seconds, fraction and either Z or a numeric UTC offset. No offset and no `tz` reads as UTC. Reliable from 1700 to 2200.",
            "schema": {
              "type": "string"
            },
            "example": "2026-04-01"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of rows to return from a range query, counted forward from `start`. Mutually exclusive with `end`.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            },
            "example": 30
          },
          {
            "name": "body",
            "in": "query",
            "required": false,
            "description": "A single target: one of sun, moon, mercury, venus, earth, mars, jupiter, saturn, uranus, neptune, pluto, or radec:<ra>,<dec>[,j2000] for a fixed celestial point (right ascension in decimal hours, declination in decimal degrees). Mutually exclusive with `bodies`.",
            "schema": {
              "type": "string"
            },
            "example": "moon"
          },
          {
            "name": "bodies",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of targets, up to 20: any of sun, moon, mercury, venus, earth, mars, jupiter, saturn, uranus, neptune, pluto, or radec:<ra>,<dec>[,j2000] entries. Mutually exclusive with `body`.",
            "schema": {
              "type": "string"
            },
            "example": "moon,earth"
          },
          {
            "$ref": "#/components/parameters/LatitudeParam"
          },
          {
            "$ref": "#/components/parameters/LongitudeParam"
          },
          {
            "$ref": "#/components/parameters/ElevationMParam"
          },
          {
            "$ref": "#/components/parameters/PlaceParam"
          },
          {
            "$ref": "#/components/parameters/PlaceStrategyParam"
          },
          {
            "$ref": "#/components/parameters/TzParam"
          },
          {
            "$ref": "#/components/parameters/AmbiguousParam"
          },
          {
            "$ref": "#/components/parameters/NonexistentParam"
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "description": "Filter to the near extremum (perigee/perihelion), the far one (apogee/aphelion), or both.",
            "schema": {
              "type": "string",
              "enum": [
                "near",
                "far",
                "all"
              ],
              "default": "all"
            },
            "example": "all"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Comma-separated optional blocks to include; comma-separate multiple tokens. Omit for the endpoint default set.",
            "schema": {
              "type": "string",
              "enum": [
                "events",
                "extremes",
                "nearest_syzygy",
                "angular_size"
              ]
            },
            "example": "events,extremes"
          },
          {
            "$ref": "#/components/parameters/TimeFormatParam"
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          },
          {
            "$ref": "#/components/parameters/FieldsParam"
          },
          {
            "$ref": "#/components/parameters/ShapeParam"
          },
          {
            "$ref": "#/components/parameters/PrecisionParam"
          },
          {
            "$ref": "#/components/parameters/PrettyParam"
          },
          {
            "$ref": "#/components/parameters/VerbosityParam"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "See the endpoint description at /api/reference.html.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The answer.",
            "headers": {
              "ETag": {
                "description": "Present when the cache class is deterministic or time-quantised. Send back as If-None-Match to get 304.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Browser caching directive for this response's cache class.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "draft-ietf-httpapi-ratelimit-headers usage for the current window.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                },
                "examples": {
                  "live": {
                    "summary": "GET /v2/apsides?start=2026-01-01&end=2026-04-01&bodies=moon,earth",
                    "description": "A real request to the running API, not a hand-written mock. It needs no key and can be opened directly, so the example is whatever the endpoint actually returns today.",
                    "externalValue": "https://www.cyclecalcs.com/v2/apsides?start=2026-01-01&end=2026-04-01&bodies=moon,earth"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "A CSV rendering of the same answer. See meta and the CSV header comment for provenance."
                },
                "examples": {
                  "live": {
                    "summary": "GET /v2/apsides?start=2026-01-01&end=2026-04-01&bodies=moon,earth&format=csv",
                    "description": "A real request to the running API, not a hand-written mock. It needs no key and can be opened directly, so the example is whatever the endpoint actually returns today.",
                    "externalValue": "https://www.cyclecalcs.com/v2/apsides?start=2026-01-01&end=2026-04-01&bodies=moon,earth&format=csv"
                  }
                }
              }
            }
          },
          "304": {
            "description": "Not Modified. Returned when If-None-Match matches the current ETag. No body."
          },
          "400": {
            "description": "The request could not be understood: a malformed or out-of-range parameter, an incomplete range, a conflicting pair of parameters, or a request too large for the compute budget.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "Not found: a `place`/`id`/target that does not resolve to anything, or a path this API does not serve.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed. This API serves GET, HEAD and OPTIONS only.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "The serialised response exceeded the hard size cap. Narrow the request with `fields`, verbosity=compact or a smaller range.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited. Wait the number of seconds in Retry-After, or cache the response.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v2/moon-nodes": {
      "get": {
        "operationId": "getMoonNodes",
        "summary": "Every crossing of the ecliptic by the Moon, the node longitudes and the eclipse seasons they define",
        "description": "Every crossing of the ecliptic by the Moon, the node longitudes and the eclipse seasons they define. Formats: json, csv. Example: GET /v2/moon-nodes?start=2026-01-01&end=2027-01-01",
        "parameters": [
          {
            "name": "at",
            "in": "query",
            "required": false,
            "description": "The instant to evaluate. ISO 8601: a date (2026-06-21), or a date and time with an optional seconds, fraction and either Z or a numeric UTC offset. No offset and no `tz` reads as UTC. Reliable from 1700 to 2200.",
            "schema": {
              "type": "string"
            },
            "example": "2026-06-21T21:00:00Z"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "description": "The start of a range query, inclusive. ISO 8601: a date (2026-06-21), or a date and time with an optional seconds, fraction and either Z or a numeric UTC offset. No offset and no `tz` reads as UTC. Reliable from 1700 to 2200.",
            "schema": {
              "type": "string"
            },
            "example": "2026-01-01"
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "description": "The end of a range query. A row landing exactly on `end` is NOT returned: the window is [start, end). Every endpoint's rule is published as data under limits.range_boundaries in /v2/conventions. ISO 8601: a date (2026-06-21), or a date and time with an optional seconds, fraction and either Z or a numeric UTC offset. No offset and no `tz` reads as UTC. Reliable from 1700 to 2200.",
            "schema": {
              "type": "string"
            },
            "example": "2027-01-01"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "description": "Number of rows to return from a range query, counted forward from `start`. Mutually exclusive with `end`.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10000
            },
            "example": 30
          },
          {
            "$ref": "#/components/parameters/LatitudeParam"
          },
          {
            "$ref": "#/components/parameters/LongitudeParam"
          },
          {
            "$ref": "#/components/parameters/ElevationMParam"
          },
          {
            "$ref": "#/components/parameters/PlaceParam"
          },
          {
            "$ref": "#/components/parameters/PlaceStrategyParam"
          },
          {
            "$ref": "#/components/parameters/TzParam"
          },
          {
            "$ref": "#/components/parameters/AmbiguousParam"
          },
          {
            "$ref": "#/components/parameters/NonexistentParam"
          },
          {
            "name": "node_model",
            "in": "query",
            "required": false,
            "description": "Which lunar node model to report: the engine's true (osculating) node, the analytic mean node, or both side by side.",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "mean",
                "both"
              ],
              "default": "true"
            },
            "example": "true"
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "description": "Filter to ascending crossings, descending crossings, or both.",
            "schema": {
              "type": "string",
              "enum": [
                "ascending",
                "descending",
                "all"
              ],
              "default": "all"
            },
            "example": "all"
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "description": "Comma-separated optional blocks to include. Omit for the endpoint default set.",
            "schema": {
              "type": "string",
              "enum": [
                "crossings",
                "node_longitude",
                "eclipse_seasons",
                "periods",
                "standstill"
              ]
            },
            "example": "crossings"
          },
          {
            "$ref": "#/components/parameters/TimeFormatParam"
          },
          {
            "$ref": "#/components/parameters/FormatParam"
          },
          {
            "$ref": "#/components/parameters/FieldsParam"
          },
          {
            "$ref": "#/components/parameters/ShapeParam"
          },
          {
            "$ref": "#/components/parameters/PrecisionParam"
          },
          {
            "$ref": "#/components/parameters/PrettyParam"
          },
          {
            "$ref": "#/components/parameters/VerbosityParam"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "See the endpoint description at /api/reference.html.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "The answer.",
            "headers": {
              "ETag": {
                "description": "Present when the cache class is deterministic or time-quantised. Send back as If-None-Match to get 304.",
                "schema": {
                  "type": "string"
                }
              },
              "Cache-Control": {
                "description": "Browser caching directive for this response's cache class.",
                "schema": {
                  "type": "string"
                }
              },
              "RateLimit": {
                "description": "draft-ietf-httpapi-ratelimit-headers usage for the current window.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Envelope"
                },
                "examples": {
                  "live": {
                    "summary": "GET /v2/moon-nodes?start=2026-01-01&end=2027-01-01",
                    "description": "A real request to the running API, not a hand-written mock. It needs no key and can be opened directly, so the example is whatever the endpoint actually returns today.",
                    "externalValue": "https://www.cyclecalcs.com/v2/moon-nodes?start=2026-01-01&end=2027-01-01"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string",
[...]
